<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="org.zywx.wbpalmstar.widgetone.uexEasemob.EUExEasemob"
        uexName="uexEasemob"
        global="true">
        <method name="initEasemob" />
        <method name="login"/>
        <method name="logout" />
        <method name="registerUser"/>
        <method name="onNewMessage" />
        <method name="getMessageById"/>
        <method name="getConversationByName"/>
        <method name="onAckMessage" />
        <method name="onDeliveryMessage" />
        <method name="onContactAdded" />
        <method name="onContactDeleted" />
        <method name="onContactInvited" />
        <method name="onContactAgreed" />
        <method name="onContactRefused" />
        <method name="onConnected" />
        <method name="onDisconnected" />
        <method name="onInvitationAccpted" />
        <method name="onInvitationDeclined" />
        <method name="onUserRemoved" />
        <method name="onGroupDestroy" />
        <method name="onApplicationReceived" />
        <method name="onApplicationAccept" />
        <method name="onInvitationReceived" />
        <method name="onApplicationDeclined" />
        <method name="sendText" />
        <method name="sendVoice" />
        <method name="sendVideo"/>
        <method name="sendHasReadResponseForMessage"/>
        <method name="sendPicture" />
        <method name="sendLocationMsg" />
        <method name="sendFile" />
        <method name="getMessageHistory"/>
        <method name="getUnreadMsgCount"/>
        <method name="resetUnreadMsgCount" />
        <method name="resetAllUnreadMsgCount" />
        <method name="getMsgCount"/>
        <method name="clearConversation" />
        <method name="deleteConversation" />
        <method name="removeMessage" />
        <method name="deleteAllConversation" />
        <method name="setNotifyBySoundAndVibrate" />

        <method name="getContactUserNames"/>
        <method name="addContact" />
        <method name="deleteContact" />
        <method name="acceptInvitation" />
        <method name="refuseInvitation" />
        <method name="getBlackListUsernames"/>
        <method name="addUserToBlackList" />
        <method name="deleteUserFromBlackList" />

        <method name="createPrivateGroup" />
        <method name="createPublicGroup" />
        <method name="addUsersToGroup" />
        <method name="removeUserFromGroup" />
        <method name="joinGroup" />
        <method name="exitFromGroup" />
        <method name="exitAndDeleteGroup" />
        <method name="getGroupsFromServer"/>
        <method name="getAllPublicGroupsFromServer"/>
        <method name="getGroup"/>
        <method name="blockGroupMessage" />
        <method name="unblockGroupMessage" />
        <method name="changeGroupName" />
        <method name="setReceiveNotNoifyGroup" />
        <method name="blockUser" />
        <method name="unblockUser" />
        <method name="getBlockedUsers"/>

        <method name="importMessage" />
        <method name="onCallReceive" />
        <method name="onCallStateChanged" />
        <method name="makeVoiceCall" />
        <method name="answerCall" />
        <method name="rejectCall" />
        <method name="endCall" />
        <method name="sendCmdMessage" />
        <method name="onCmdMessageReceive" />

        <method name="updateCurrentUserNick" />

        <method name="getChatterInfo"/>
        <method name="getTotalUnreadMsgCount"/>
        <method name="getRecentChatters"/>
    </plugin>
</uexplugins>